Repository neil-feris/certification-trainer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(shared): update LLM models to latest versions
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat(shared): update LLM models to latest versions (#17)
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

fix(api): use max_completion_tokens for newer OpenAI models
  packages/server/src/services/questionGenerator.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

fix(api): use max_completion_tokens for newer OpenAI models (#18)
  packages/server/src/services/questionGenerator.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat(server): add automatic startup migrations
  packages/server/src/db/startupMigrations.ts
  packages/server/src/index.ts
Due: eslint --fix, prettier --write

feat(server): add automatic startup migrations (#19)
  packages/server/src/db/startupMigrations.ts
  packages/server/src/index.ts
Due: eslint --fix, prettier --write

ci: disable codecov until token configured
  .github/workflows/ci.yml
Due: none

feat(migrations): add PCA case studies seeding on startup
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

fix(client): use separate IndexedDB databases for offline storage
  packages/client/src/services/offlineStorage.ts
  packages/client/src/services/syncQueue.ts
Due: eslint --fix, prettier --write

docs: add prioritized feature backlog and daily streaks PRD
  scripts/ralph-daily-streaks/prompt.md
  scripts/ralph-daily-streaks/ralph.sh
  tasks/feature-backlog.md
  tasks/prd-daily-streaks.json
  tasks/prd-daily-streaks.md
Due: none

feat: [US-001] - Shared Streak Types
  packages/shared/src/index.ts
  scripts/ralph-daily-streaks/prompt.md
  scripts/ralph-daily-streaks/ralph.sh
  scripts/ralph-pca-case-studies/progress.txt
  tasks/feature-backlog.md
  tasks/prd-daily-streaks.json
  tasks/prd-daily-streaks.md
  tasks/prd-pca-case-studies.json
Due: eslint --fix, prettier --write

feat: [US-002] - Database Schema for Streaks
  packages/server/src/db/migrations/0007_add_user_streaks.sql
  packages/server/src/db/schema.ts
Due: eslint --fix, prettier --write

feat: [US-003] - Streak Service Logic
  packages/server/src/services/streakService.ts
Due: eslint --fix, prettier --write

feat: [US-004] - Streak API Endpoint
  packages/server/src/routes/progress.ts
Due: eslint --fix, prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: [US-005] - Trigger Streak Update on Exam Completion
  packages/server/src/routes/exams.ts
Due: eslint --fix, prettier --write

feat: [US-006] - Trigger Streak Update on Study Session Completion
  packages/server/src/routes/study.ts
Due: eslint --fix, prettier --write

feat: [US-007] - Trigger Streak Update on Learning Path Completion
  packages/server/src/routes/study.ts
Due: eslint --fix, prettier --write

feat: [US-008] - Trigger Streak Update on Spaced Repetition Review
  packages/server/src/routes/questions.ts
Due: eslint --fix, prettier --write

feat: [US-009] - Frontend API Client for Streaks
  packages/client/src/api/client.ts
Due: eslint --fix, prettier --write

feat: [US-010] - Streak Display Component
  packages/client/src/components/common/StreakDisplay.module.css
  packages/client/src/components/common/StreakDisplay.tsx
Due: eslint --fix, prettier --write

feat: [US-011] - Streak Widget on Dashboard
  packages/client/src/components/dashboard/Dashboard.tsx
Due: eslint --fix, prettier --write

feat: [US-012] - Streak Display in Navigation
  packages/client/src/components/layout/AppShell.module.css
  packages/client/src/components/layout/AppShell.tsx
  packages/client/src/components/layout/MobileHeader.module.css
  packages/client/src/components/layout/MobileHeader.tsx
Due: eslint --fix, prettier --write

feat: [US-013] - Milestone Toast Notifications
  packages/client/src/api/client.ts
  packages/client/src/components/review/Review.tsx
  packages/client/src/components/study/learning-path/LearningPathDetail.tsx
  packages/client/src/stores/examStore.ts
  packages/client/src/stores/studyStore.ts
  packages/client/src/utils/streakNotifications.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: [US-014] - Query Invalidation on Streak Update
  packages/client/src/components/review/Review.tsx
  packages/client/src/components/study/learning-path/LearningPathDetail.tsx
  packages/client/src/lib/queryClient.ts
  packages/client/src/main.tsx
  packages/client/src/stores/examStore.ts
  packages/client/src/stores/studyStore.ts
Due: eslint --fix, prettier --write

fix: Critical streak service race conditions and error handling
  .gitignore
  packages/server/src/routes/exams.ts
  packages/server/src/routes/questions.ts
  packages/server/src/routes/study.ts
  packages/server/src/services/streakService.ts
Due: eslint --fix, prettier --write

docs: restore feature-backlog.md to version control
  .gitignore
  tasks/feature-backlog.md
Due: none

feat: run database migrations during deployment
  deployment/deploy.sh
Due: none

fix: rewrite migration system and add deploy script sync
  .github/workflows/deploy.yml
  packages/server/src/db/migrate.ts
Due: eslint --fix, prettier --write

fix: align study session validation schema with shared types
  packages/server/src/validation/schemas.test.ts
  packages/server/src/validation/schemas.ts
Due: eslint --fix, prettier --write

fix: correct mobile layout by stacking shell flex children vertically
  packages/client/src/components/layout/AppShell.module.css
Due: prettier --write

fix: center streak card content to match other dashboard stat cards
  packages/client/src/components/common/StreakDisplay.module.css
Due: prettier --write

fix: study practice fixes and mobile layout improvements (#26)
  packages/client/src/components/common/StreakDisplay.module.css
  packages/client/src/components/layout/AppShell.module.css
  packages/server/src/validation/schemas.test.ts
  packages/server/src/validation/schemas.ts
Due: eslint --fix, prettier --write

feat: SENTRY-001 - Install and configure Sentry SDK in React client
  package-lock.json
  packages/client/package.json
  packages/client/src/main.tsx
Due: eslint --fix, prettier --write

feat: SENTRY-002 - Integrate Sentry with ErrorBoundary component
  packages/client/src/components/common/ErrorBoundary.module.css
  packages/client/src/components/common/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

feat: SENTRY-003 - Add Sentry tracing to API client
  packages/client/src/api/client.ts
Due: eslint --fix, prettier --write

feat: SENTRY-004 - Add performance tracing to exam flow
  packages/client/src/stores/examStore.ts
Due: eslint --fix, prettier --write

feat: SENTRY-005 - Add performance tracing to study session flow
  packages/client/src/stores/studyStore.ts
Due: eslint --fix, prettier --write

feat: SENTRY-006 - Install and configure Sentry in Fastify server
  package-lock.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/instrument.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/*/src/**/*.{ts,tsx}
  prettier --write: (any of: packages/*/src/**/*.{ts,tsx}) or (any of: packages/*/src/**/*.{css,json})
