Repository neil-feris/certification-trainer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "packages/*/src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/*/src/**/*.{css,json}": [
    "prettier --write"
  ]
}

fix: Use JSON logging in production (pino-pretty is devDep)
  packages/server/src/index.ts
Due: eslint --fix, prettier --write

fix: Use bind mount for database instead of named volume
  docker-compose.yml
Due: none

feat: Bake database into Docker image
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

feat: Add named volume for database persistence
  docker-compose.yml
Due: none

Add database file for deployment
  data/ace-prep.db
Due: none

feat: US-001 - Shared Auth Types
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: US-002 - Users Database Table
  data/ace-prep.db
  packages/server/src/db/migrations/0004_add_users.sql
  packages/server/src/db/schema.ts
Due: eslint --fix, prettier --write

feat: US-003 - Add userId Foreign Keys
  data/ace-prep.db
  packages/server/src/db/migrations/0005_add_user_foreign_keys.sql
  packages/server/src/db/schema.ts
Due: eslint --fix, prettier --write

feat: US-004 - Environment Configuration
  .env.example
  packages/client/.env.example
  packages/server/src/config.ts
Due: eslint --fix, prettier --write

feat: US-005 - JWT Utilities
  package-lock.json
  packages/server/package.json
  packages/server/src/services/jwt.ts
Due: eslint --fix, prettier --write

feat: US-006 - Auth Middleware
  packages/server/src/middleware/auth.ts
Due: eslint --fix, prettier --write

feat: US-007 - Google OAuth Routes
  package-lock.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/routes/auth.ts
Due: eslint --fix, prettier --write

feat: US-008 - Protect Existing API Routes
  packages/server/src/routes/drills.ts
  packages/server/src/routes/exams.ts
  packages/server/src/routes/progress.ts
  packages/server/src/routes/questions.ts
  packages/server/src/routes/settings.ts
  packages/server/src/routes/study.ts
Due: eslint --fix, prettier --write

feat: US-009 - Auth Store (Client)
  packages/client/src/stores/authStore.ts
Due: eslint --fix, prettier --write

feat: US-010 - API Client Auth Integration
  packages/client/src/api/client.ts
Due: eslint --fix, prettier --write

feat: US-011 - Login Page
  packages/client/src/pages/LoginPage.module.css
  packages/client/src/pages/LoginPage.tsx
  packages/client/src/pages/index.ts
Due: eslint --fix, prettier --write

feat: US-012 - OAuth Callback Page
  packages/client/src/pages/AuthCallbackPage.module.css
  packages/client/src/pages/AuthCallbackPage.tsx
  packages/client/src/pages/index.ts
Due: eslint --fix, prettier --write

feat: US-013 - Protected Route Wrapper
  packages/client/src/components/ProtectedRoute.module.css
  packages/client/src/components/ProtectedRoute.tsx
Due: eslint --fix, prettier --write

feat: US-014 - App Routing Integration
  packages/client/src/App.tsx
Due: eslint --fix, prettier --write

feat: US-015 - Data Migration on First Login
  packages/server/src/routes/auth.ts
  packages/server/src/services/dataMigration.ts
Due: eslint --fix, prettier --write

feat: US-016 - User Profile Display
  packages/client/src/components/layout/AppShell.module.css
  packages/client/src/components/layout/AppShell.tsx
  packages/client/src/components/layout/UserProfile.module.css
  packages/client/src/components/layout/UserProfile.tsx
Due: eslint --fix, prettier --write

feat: US-017 - Cross-Device Data Sync
  packages/server/src/routes/questions.ts
  packages/server/src/routes/settings.ts
  packages/server/src/services/questionGenerator.ts
Due: eslint --fix, prettier --write

feat: US-018 - Auth Loading States
  packages/client/src/App.tsx
  packages/client/src/components/ProtectedRoute.module.css
  packages/client/src/components/ProtectedRoute.tsx
  packages/client/src/components/common/AuthLoader.module.css
  packages/client/src/components/common/AuthLoader.tsx
  packages/client/src/components/common/index.ts
Due: eslint --fix, prettier --write

feat: US-019 - Auth Error Handling
  packages/client/src/App.tsx
  packages/client/src/api/client.ts
  packages/client/src/components/common/Toast.module.css
  packages/client/src/components/common/Toast.tsx
  packages/client/src/components/common/index.ts
  packages/client/src/pages/LoginPage.tsx
Due: eslint --fix, prettier --write

feat: Add automated VPS deployment pipeline
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .gitignore
  Dockerfile
  deployment/deploy.sh
  deployment/docker-compose.prod.yml
  deployment/env.template
  deployment/health-check.sh
  deployment/nginx/README.md
  deployment/nginx/certification-trainer.neilferis.com.conf
  deployment/nginx/setup-nginx.sh
  deployment/rollback.sh
  deployment/vps-setup-checklist.md
Due: none

fix: Auto-load .env file in deployment scripts
  deployment/deploy.sh
  deployment/rollback.sh
Due: none

fix: Add auth initialization to RootRedirect component
  packages/client/src/App.tsx
Due: eslint --fix, prettier --write

feat: US-001 - Mobile CSS Foundation
  packages/client/src/styles/globals.css
Due: prettier --write

feat: US-002 - useOnlineStatus Hook
  packages/client/src/hooks/useOnlineStatus.ts
Due: eslint --fix, prettier --write

feat: US-003 - useSwipeNavigation Hook
  package-lock.json
  packages/client/package.json
  packages/client/src/hooks/useSwipeNavigation.ts
Due: eslint --fix, prettier --write

feat: US-004 - MobileNavBar Component
  packages/client/src/components/layout/MobileNavBar.module.css
  packages/client/src/components/layout/MobileNavBar.tsx
Due: eslint --fix, prettier --write

feat: US-005 - BottomSheet Component
  packages/client/src/components/layout/BottomSheet.module.css
  packages/client/src/components/layout/BottomSheet.tsx
Due: eslint --fix, prettier --write

feat: US-006 - OfflineBanner Component
  packages/client/src/components/common/OfflineBanner.module.css
  packages/client/src/components/common/OfflineBanner.tsx
  packages/client/src/components/common/index.ts
Due: eslint --fix, prettier --write

feat: US-007 - Integrate Mobile Navigation into AppShell
  packages/client/src/components/layout/AppShell.module.css
  packages/client/src/components/layout/AppShell.tsx
Due: eslint --fix, prettier --write

feat: US-008 - Mobile Dashboard Layout
  packages/client/src/components/dashboard/Dashboard.module.css
  packages/client/src/components/dashboard/Dashboard.tsx
Due: eslint --fix, prettier --write

feat: US-009 - Mobile Study Hub Optimization
  packages/client/src/components/study/StudyHub.module.css
  packages/client/src/components/study/domains/Domains.module.css
Due: prettier --write

feat: US-010 - Mobile Practice Session Optimization
  packages/client/src/components/layout/AppShell.tsx
  packages/client/src/components/study/practice/Practice.module.css
  packages/client/src/components/study/practice/TopicPractice.tsx
Due: eslint --fix, prettier --write

feat: US-011 - Mobile Review Session Optimization
  packages/client/src/components/layout/AppShell.tsx
  packages/client/src/components/review/Review.module.css
  packages/client/src/components/review/Review.tsx
Due: eslint --fix, prettier --write

feat: US-012 - Offline Storage Service
  package-lock.json
  packages/client/package.json
  packages/client/src/services/offlineStorage.ts
Due: eslint --fix, prettier --write

feat: US-013 - Sync Queue Service
  packages/client/src/services/syncQueue.ts
Due: eslint --fix, prettier --write
