Repository neil-feris/certification-trainer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: correct hasWorkbook status for AWS SAA in design doc
  docs/plans/2026-02-13-aws-saa-multi-cert-design.md
Due: none

fix: tech debt cleanup from post multi-cert review (#134)
  CLAUDE.md
  docs/plans/2026-02-13-aws-saa-multi-cert-design.md
  docs/plans/2026-02-13-tech-debt-cleanup-design.md
  packages/server/src/db/schema.ts
  packages/server/src/db/startupMigrations.ts
  packages/server/src/services/planGenerator.ts
Due: eslint --fix, prettier --write

docs: add AWS SAA workbook content seeding design
  docs/plans/2026-02-13-aws-saa-workbook-content-design.md
Due: none

docs: add AWS SAA workbook content implementation plan
  docs/plans/2026-02-13-aws-saa-workbook-content-implementation.md
Due: none

feat(db): seed AWS SAA workbook content via migration v28
  CLAUDE.md
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

fix(db): use seconds instead of milliseconds for created_at timestamp
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

fix(db): warn when sample question insert count is lower than expected
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

fix(db): guard JSON.parse on capabilities column with try-catch
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

feat: seed AWS SAA-C03 workbook content (migration v28) (#136)
  CLAUDE.md
  docs/plans/2026-02-13-aws-saa-workbook-content-design.md
  docs/plans/2026-02-13-aws-saa-workbook-content-implementation.md
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

docs: add codebase review implementation design
  docs/plans/2026-02-24-codebase-review-fixes-design.md
Due: none

fix: replace outline:none with :focus-visible styles (WCAG 2.1 Level A)
  packages/client/src/components/bookmarks/BookmarksPage.module.css
  packages/client/src/components/common/NotesPanel.module.css
  packages/client/src/components/common/ReportIssueModal.module.css
  packages/client/src/components/notes/NotesPage.module.css
  packages/client/src/components/settings/NotificationSettings.module.css
  packages/client/src/components/settings/Settings.module.css
  packages/client/src/components/study-plan/PlanSetupModal.module.css
  packages/client/src/components/study/drills/Drills.module.css
  packages/client/src/components/study/flashcards/FlashcardSetup.module.css
  packages/client/src/components/study/summaries/Summaries.module.css
  packages/client/src/styles/globals.css
Due: prettier --write

feat: add route-level code splitting with React.lazy
  packages/client/src/App.tsx
Due: eslint --fix, prettier --write

fix: force JWT secrets through requireEnv in production
  packages/server/src/config.ts
Due: eslint --fix, prettier --write

feat: add SQLite performance pragmas and questions.source index
  packages/server/src/db/index.ts
  packages/server/src/db/startupMigrations.ts
Due: eslint --fix, prettier --write

fix: add Zod validation to /offline-submit and /qotd/complete
  packages/server/src/routes/exams.ts
  packages/server/src/routes/questions.ts
  packages/server/src/validation/schemas.ts
Due: eslint --fix, prettier --write

feat: extract userId decorator, Zod enforcement plugin, sanitize errors
  packages/server/src/index.ts
  packages/server/src/middleware/auth.ts
  packages/server/src/plugins/zodValidation.ts
  packages/server/src/routes/achievements.ts
  packages/server/src/routes/bookmarks.ts
  packages/server/src/routes/drills.ts
  packages/server/src/routes/flashcards.ts
  packages/server/src/routes/notes.ts
  packages/server/src/routes/notifications.ts
  packages/server/src/routes/progress.ts
  packages/server/src/routes/settings.ts
  packages/server/src/routes/study.ts
  packages/server/src/routes/studyPlans.ts
  packages/server/src/routes/workbook.ts
Due: eslint --fix, prettier --write

test: add unit tests for 5 core services (105 tests)
  packages/server/src/services/achievementService.test.ts
  packages/server/src/services/readinessService.test.ts
  packages/server/src/services/streakService.test.ts
  packages/server/src/services/workbookService.test.ts
  packages/server/src/services/xpService.test.ts
Due: eslint --fix, prettier --write

feat: codebase review — 5 fixes + 5 features (#137) (#144)
  docs/plans/2026-02-24-codebase-review-fixes-design.md
  packages/client/src/App.tsx
  packages/client/src/components/bookmarks/BookmarksPage.module.css
  packages/client/src/components/common/NotesPanel.module.css
  packages/client/src/components/common/ReportIssueModal.module.css
  packages/client/src/components/notes/NotesPage.module.css
  packages/client/src/components/settings/NotificationSettings.module.css
  packages/client/src/components/settings/Settings.module.css
  packages/client/src/components/study-plan/PlanSetupModal.module.css
  packages/client/src/components/study/drills/Drills.module.css
  packages/client/src/components/study/flashcards/FlashcardSetup.module.css
  packages/client/src/components/study/summaries/Summaries.module.css
  packages/client/src/styles/globals.css
  packages/server/src/config.ts
  packages/server/src/db/index.ts
  packages/server/src/db/startupMigrations.ts
  packages/server/src/index.ts
  packages/server/src/middleware/auth.ts
  packages/server/src/plugins/zodValidation.ts
  packages/server/src/routes/achievements.ts
  packages/server/src/routes/bookmarks.ts
  packages/server/src/routes/drills.ts
  packages/server/src/routes/exams.ts
  packages/server/src/routes/flashcards.ts
  packages/server/src/routes/notes.ts
  packages/server/src/routes/notifications.ts
  packages/server/src/routes/progress.ts
  packages/server/src/routes/questions.ts
  packages/server/src/routes/settings.ts
  packages/server/src/routes/study.ts
  packages/server/src/routes/studyPlans.ts
  packages/server/src/routes/workbook.ts
  packages/server/src/services/achievementService.test.ts
  packages/server/src/services/readinessService.test.ts
  packages/server/src/services/streakService.test.ts
  packages/server/src/services/workbookService.test.ts
  packages/server/src/services/xpService.test.ts
  packages/server/src/validation/schemas.ts
Due: eslint --fix, prettier --write

fix: resolve 4 console errors (SW beacon, meta tag, 404, 401)
  packages/client/index.html
  packages/client/src/api/client.ts
  packages/client/src/sw.ts
  packages/server/src/routes/notifications.ts
  packages/server/src/routes/studyPlans.ts
Due: eslint --fix, prettier --write

fix: resolve 4 console errors (SW beacon, meta tag, 404, 401) (#145)
  packages/client/index.html
  packages/client/src/api/client.ts
  packages/client/src/sw.ts
  packages/server/src/routes/notifications.ts
  packages/server/src/routes/studyPlans.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/*/src/**/*.{ts,tsx}
  prettier --write: (any of: packages/*/src/**/*.{ts,tsx}) or (any of: packages/*/src/**/*.{css,json})
